mixin news1(classType)
	- if(classType == null)
		- var type = 'news-1-item'
	- if(classType == 'large')
		- var type = 'news-1-item large'
	- if(classType == 'side')
		- var type = 'news-1-item side'
	div(class=type)
		article
			.imgbox.lazyload(data-bg="./img/news/1.jpg")
				a(href="news-detail.html")
					img.lazyload(data-src="./img/news/1.jpg", alt="")
			.info
				time.createdDate 24/02/2019
				h3 
					a(href="news-detail.html") Hội thảo: CHIA SẺ KINH NGHIỆM QUẢN TRỊ DOANH NGHIỆP
				p Chiều ngày 15/1, tại Gem Center (Nguyễn Bỉnh Khiêm, Quận 1, TP.HCM), Câu lạc bộ Thương hiệu Việt (CLB VBC) và câu lạc bộ Bất động sản TP.HCM (HREC) đã tổ chức hội thảo “Chia sẻ... kinh nghiệm quản trị doanh nghiệp” do ông Đặng Văn Thành - Chủ tịch CLB VBC; Chủ Tịch Danh Dự CLB HREC Chiều ngày 15/1, tại Gem Center (Nguyễn Bỉnh Khiêm, Quận 1, TP.HCM), Câu lạc bộ Thương hiệu Việt (CLB VBC) và câu lạc bộ Bất động sản TP.HCM (HREC) đã tổ chức hội thảo “Chia sẻ... kinh nghiệm quản trị doanh nghiệp” do ông Đặng Văn Thành - Chủ tịch CLB VBC; Chủ Tịch Danh Dự CLB HREC Chiều ngày 15/1, tại Gem Center (Nguyễn Bỉnh Khiêm, Quận 1, TP.HCM), Câu lạc bộ Thương hiệu Việt (CLB VBC) và câu lạc bộ Bất động sản TP.HCM (HREC) đã tổ chức hội thảo “Chia sẻ... kinh nghiệm quản trị doanh nghiệp” do ông Đặng Văn Thành - Chủ tịch CLB VBC; Chủ Tịch Danh Dự CLB HREC Chiều ngày 15/1, tại Gem Center (Nguyễn Bỉnh Khiêm, Quận 1, TP.HCM), Câu lạc bộ Thương hiệu Việt (CLB VBC) và câu lạc bộ Bất động sản TP.HCM (HREC) đã tổ chức hội thảo “Chia sẻ... kinh nghiệm quản trị doanh nghiệp” do ông Đặng Văn Thành - Chủ tịch CLB VBC; Chủ Tịch Danh Dự CLB HREC Chiều ngày 15/1, tại Gem Center (Nguyễn Bỉnh Khiêm, Quận 1, TP.HCM), Câu lạc bộ Thương hiệu Việt (CLB VBC) và câu lạc bộ Bất động sản TP.HCM (HREC) đã tổ chức hội thảo “Chia sẻ... kinh nghiệm quản trị doanh nghiệp” do ông Đặng Văn Thành - Chủ tịch CLB VBC; Chủ Tịch Danh Dự CLB HREC Chiều ngày 15/1, tại Gem Center (Nguyễn Bỉnh Khiêm, Quận 1, TP.HCM), Câu lạc bộ Thương hiệu Việt (CLB VBC) và câu lạc bộ Bất động sản TP.HCM (HREC) đã tổ chức hội thảo “Chia sẻ... kinh nghiệm quản trị doanh nghiệp” do ông Đặng Văn Thành - Chủ tịch CLB VBC; Chủ Tịch Danh Dự CLB HREC Chiều ngày 15/1, tại Gem Center (Nguyễn Bỉnh Khiêm, Quận 1, TP.HCM), Câu lạc bộ Thương hiệu Việt (CLB VBC) và câu lạc bộ Bất động sản TP.HCM (HREC) đã tổ chức hội thảo “Chia sẻ... kinh nghiệm quản trị doanh nghiệp” do ông Đặng Văn Thành - Chủ tịch CLB VBC; Chủ Tịch Danh Dự CLB HREC Chiều ngày 15/1, tại Gem Center (Nguyễn Bỉnh Khiêm, Quận 1, TP.HCM), Câu lạc bộ Thương hiệu Việt (CLB VBC) và câu lạc bộ Bất động sản TP.HCM (HREC) đã tổ chức hội thảo “Chia sẻ... kinh nghiệm quản trị doanh nghiệp” do ông Đặng Văn Thành - Chủ tịch CLB VBC; Chủ Tịch Danh Dự CLB HREC
 
