<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
	<position>
		<add name="Header - Banner" value="1" resourcefile="" />
		<add name="Page - Banner" value="2" resourcefile="" />
		<add name="Tin tức hoạt động - Banner bên phải" value="4" resourcefile="" />
		<add name="Hội viên" value="8" resourcefile="" />
		<add name="Hoạt động cộng đồng - banner" value="16" resourcefile="" />
		<add name="Home Banner" value="32" resourcefile="" />
		<add name="Home Banner - Tài trợ" value="64" resourcefile="" />
	</position>
</settings>