.document.pd-60
	.container
		h2.page-title Tài liệu
		.row
			.col-12.document-nav
				h4 Xem theo
				select
					option(value="#") Tài liệu sau các hội nghị
					option(value="#") Tài liệu sau các hội nghị
					option(value="#") Tài liệu sau các hội nghị
		.row
			.col-12
				.table-responsive
					table
						thead
							tr
								th
								th Ngày đăng
								th Tải về
						tbody
							tr
								td 
									a(href="#") 01.   Nghị quyết ĐHĐCĐ - Thông qua việc Phát hành cổ phần để chuyển đổi Cổ phần ưu đãi cổ tức chuyển đổi năm 2015
								td 15/04/2019
								td 
									a(href="#").mdi.mdi-download