.faq.pd-60
	.container
		h2.page-title Hỏi đáp
		.row
			.col-lg-8
				.faq-list
					article.faq-item
						.title 
							h3 Quy định về miễn, giảm tiền sử dụng đất khi chuyển đổi mục đích
							span.mdi-menu-down.mdi
						.info
							p Theo quy định tại Điều 52 Luật đất đai năm 2013 thì căn cứ để cho phép chuyển mục đích sử dụng đất:
							p 1. Kế hoạch sử dụng đất hàng năm của cấp huyện đã được cơ quan nhà nước có thẩm quyền phê duyệt.
							p 2. Nhu cầu sử dụng đất thể hiện trong dự án đầu tư, đơn xin giao đất, thuê đất, chuyển mục đích sử dụng đất.
							p Theo đó, căn cứ để cho phép chuyển mục đích sử dụng đất diện tích đất trồng cây lâu năm sang đất thổ cư của bạn là kế hoạch sử dụng đất hàng năm của cấp huyện đã được cơ quan nhà nước có thẩm quyền phê duyệt và nhu cầu sử dụng đất thể hiện trong đơn chuyển mục đích sử dụng đất.
					article.faq-item
						.title 
							h3 Quy định về miễn, giảm tiền sử dụng đất khi chuyển đổi mục đích
							span.mdi-menu-down.mdi
						.info
							p Theo quy định tại Điều 52 Luật đất đai năm 2013 thì căn cứ để cho phép chuyển mục đích sử dụng đất:
							p 1. Kế hoạch sử dụng đất hàng năm của cấp huyện đã được cơ quan nhà nước có thẩm quyền phê duyệt.
							p 2. Nhu cầu sử dụng đất thể hiện trong dự án đầu tư, đơn xin giao đất, thuê đất, chuyển mục đích sử dụng đất.
							p Theo đó, căn cứ để cho phép chuyển mục đích sử dụng đất diện tích đất trồng cây lâu năm sang đất thổ cư của bạn là kế hoạch sử dụng đất hàng năm của cấp huyện đã được cơ quan nhà nước có thẩm quyền phê duyệt và nhu cầu sử dụng đất thể hiện trong đơn chuyển mục đích sử dụng đất.
					article.faq-item
						.title 
							h3 Quy định về miễn, giảm tiền sử dụng đất khi chuyển đổi mục đích
							span.mdi-menu-down.mdi
						.info
							p Theo quy định tại Điều 52 Luật đất đai năm 2013 thì căn cứ để cho phép chuyển mục đích sử dụng đất:
							p 1. Kế hoạch sử dụng đất hàng năm của cấp huyện đã được cơ quan nhà nước có thẩm quyền phê duyệt.
							p 2. Nhu cầu sử dụng đất thể hiện trong dự án đầu tư, đơn xin giao đất, thuê đất, chuyển mục đích sử dụng đất.
							p Theo đó, căn cứ để cho phép chuyển mục đích sử dụng đất diện tích đất trồng cây lâu năm sang đất thổ cư của bạn là kế hoạch sử dụng đất hàng năm của cấp huyện đã được cơ quan nhà nước có thẩm quyền phê duyệt và nhu cầu sử dụng đất thể hiện trong đơn chuyển mục đích sử dụng đất.
					article.faq-item
						.title 
							h3 Quy định về miễn, giảm tiền sử dụng đất khi chuyển đổi mục đích
							span.mdi-menu-down.mdi
						.info
							p Theo quy định tại Điều 52 Luật đất đai năm 2013 thì căn cứ để cho phép chuyển mục đích sử dụng đất:
							p 1. Kế hoạch sử dụng đất hàng năm của cấp huyện đã được cơ quan nhà nước có thẩm quyền phê duyệt.
							p 2. Nhu cầu sử dụng đất thể hiện trong dự án đầu tư, đơn xin giao đất, thuê đất, chuyển mục đích sử dụng đất.
							p Theo đó, căn cứ để cho phép chuyển mục đích sử dụng đất diện tích đất trồng cây lâu năm sang đất thổ cư của bạn là kế hoạch sử dụng đất hàng năm của cấp huyện đã được cơ quan nhà nước có thẩm quyền phê duyệt và nhu cầu sử dụng đất thể hiện trong đơn chuyển mục đích sử dụng đất.
					article.faq-item
						.title 
							h3 Quy định về miễn, giảm tiền sử dụng đất khi chuyển đổi mục đích
							span.mdi-menu-down.mdi
						.info
							p Theo quy định tại Điều 52 Luật đất đai năm 2013 thì căn cứ để cho phép chuyển mục đích sử dụng đất:
							p 1. Kế hoạch sử dụng đất hàng năm của cấp huyện đã được cơ quan nhà nước có thẩm quyền phê duyệt.
							p 2. Nhu cầu sử dụng đất thể hiện trong dự án đầu tư, đơn xin giao đất, thuê đất, chuyển mục đích sử dụng đất.
							p Theo đó, căn cứ để cho phép chuyển mục đích sử dụng đất diện tích đất trồng cây lâu năm sang đất thổ cư của bạn là kế hoạch sử dụng đất hàng năm của cấp huyện đã được cơ quan nhà nước có thẩm quyền phê duyệt và nhu cầu sử dụng đất thể hiện trong đơn chuyển mục đích sử dụng đất.
			.col-lg-4
				.faq-form
					h2.module-title Gửi câu hỏi
					.wrap-form
						.row
							.form-group.col-12
								label Họ và tên
								input(type="text", name="")
							.form-group.col-12
								label Họ và tên
								input(type="text", name="")
							.form-group.col-12
								label Họ và tên
								textarea
						.form-group.frm-btnwrap
							label.label  
							.frm-btn
								input#ctl00_mainContent_ctl01_btnSubmit.btn.btn-default.frm-btn-submit(type='submit', name='ctl00$mainContent$ctl01$btnSubmit', value='Đăng ký', onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$mainContent$ctl01$btnSubmit", "", true, "formwizard2b867121-df13-4cae-af80-427d359304c7", "", false, false))')