.job-1.pd-60
	.container
		h2.page-title Tuyển dụng
		.row
			.col-sm-6.job-item-wrapper
				.job-item
					.imgbox
						a(href="#")
							img(src="./img/job/1.jpg", alt="")
					.info
						h3 
							a(href="#") Trưởng Bộ Phận Tuyển Dụng
						.row
							.job-info
								p Phòng tuyển dụng
							.job-info
								p TP. Hồ Chí Minh
							.job-info
								p Ngày bắt đầu: 15/04/2019
							.job-info
								p Hạn nộp hồ sơ: 30/05/2019
			.col-sm-6.job-item-wrapper
				.job-item
					.imgbox
						a(href="#")
							img(src="./img/job/1.jpg", alt="")
					.info
						h3 
							a(href="#") Trưởng Bộ Phận Tuyển Dụng
						.row
							.job-info
								p Phòng tuyển dụng
							.job-info
								p TP. Hồ Chí Minh
							.job-info
								p Ngày bắt đầu: 15/04/2019
							.job-info
								p Hạn nộp hồ sơ: 30/05/2019
			.col-sm-6.job-item-wrapper
				.job-item
					.imgbox
						a(href="#")
							img(src="./img/job/1.jpg", alt="")
					.info
						h3 
							a(href="#") Trưởng Bộ Phận Tuyển Dụng
						.row
							.job-info
								p Phòng tuyển dụng
							.job-info
								p TP. Hồ Chí Minh
							.job-info
								p Ngày bắt đầu: 15/04/2019
							.job-info
								p Hạn nộp hồ sơ: 30/05/2019
			.col-sm-6.job-item-wrapper
				.job-item
					.imgbox
						a(href="#")
							img(src="./img/job/1.jpg", alt="")
					.info
						h3 
							a(href="#") Trưởng Bộ Phận Tuyển Dụng
						.row
							.job-info
								p Phòng tuyển dụng
							.job-info
								p TP. Hồ Chí Minh
							.job-info
								p Ngày bắt đầu: 15/04/2019
							.job-info
								p Hạn nộp hồ sơ: 30/05/2019
			.col-sm-6.job-item-wrapper
				.job-item
					.imgbox
						a(href="#")
							img(src="./img/job/1.jpg", alt="")
					.info
						h3 
							a(href="#") Trưởng Bộ Phận Tuyển Dụng
						.row
							.job-info
								p Phòng tuyển dụng
							.job-info
								p TP. Hồ Chí Minh
							.job-info
								p Ngày bắt đầu: 15/04/2019
							.job-info
								p Hạn nộp hồ sơ: 30/05/2019
			.col-sm-6.job-item-wrapper
				.job-item
					.imgbox
						a(href="#")
							img(src="./img/job/1.jpg", alt="")
					.info
						h3 
							a(href="#") Trưởng Bộ Phận Tuyển Dụng
						.row
							.job-info
								p Phòng tuyển dụng
							.job-info
								p TP. Hồ Chí Minh
							.job-info
								p Ngày bắt đầu: 15/04/2019
							.job-info
								p Hạn nộp hồ sơ: 30/05/2019
			.col-sm-6.job-item-wrapper
				.job-item
					.imgbox
						a(href="#")
							img(src="./img/job/1.jpg", alt="")
					.info
						h3 
							a(href="#") Trưởng Bộ Phận Tuyển Dụng
						.row
							.job-info
								p Phòng tuyển dụng
							.job-info
								p TP. Hồ Chí Minh
							.job-info
								p Ngày bắt đầu: 15/04/2019
							.job-info
								p Hạn nộp hồ sơ: 30/05/2019
			.col-sm-6.job-item-wrapper
				.job-item
					.imgbox
						a(href="#")
							img(src="./img/job/1.jpg", alt="")
					.info
						h3 
							a(href="#") Trưởng Bộ Phận Tuyển Dụng
						.row
							.job-info
								p Phòng tuyển dụng
							.job-info
								p TP. Hồ Chí Minh
							.job-info
								p Ngày bắt đầu: 15/04/2019
							.job-info
								p Hạn nộp hồ sơ: 30/05/2019