.job-detail
	.container
		.row
			.col-lg-8
				h1.page-title Giám đốc kinh doanh
				.job-attributes
					.item 
						.imgbox
							img(src="./img/job/icon_1.png", alt="")
						.content
							p Bảo hiểm theo quy định
					.item 
						.imgbox
							img(src="./img/job/icon_1.png", alt="")
						.content
							p Du lịch
					.item 
						.imgbox
							img(src="./img/job/icon_1.png", alt="")
						.content
							p Thưởng
					.item 
						.imgbox
							img(src="./img/job/icon_1.png", alt="")
						.content
							p Chăm sóc sức khỏe
					.item 
						.imgbox
							img(src="./img/job/icon_1.png", alt="")
						.content
							p Đào tạo
					.item 
						.imgbox
							img(src="./img/job/icon_1.png", alt="")
						.content
							p Tăng lương
				.brief-content
					.table-responsive
						table
							tr
								td Vị trí tuyển dụng
								td Giám đốc kinh doanh
							tr
								td Vị trí tuyển dụng
								td Giám đốc kinh doanh
							tr
								td Vị trí tuyển dụng
								td Giám đốc kinh doanh
							tr
								td Vị trí tuyển dụng
								td Giám đốc kinh doanh
							tr
								td Vị trí tuyển dụng
								td Giám đốc kinh doanh
							tr
								td Vị trí tuyển dụng
								td Giám đốc kinh doanh
							tr
								td Vị trí tuyển dụng
								td Giám đốc kinh doanh
							tr
								td Vị trí tuyển dụng
								td Giám đốc kinh doanh
							tr
								td Vị trí tuyển dụng
								td Giám đốc kinh doanh
				.full-content
					h4 Mô tả công việc
					ul
						li Hỗ trợ Ban Giám Đốc lập kế hoạch bán hàng của công ty
						li Lập kế hoạch phát triển khách hàng mới 
						li Tổ chức đào tạo cho nhân viên toàn hệ thống công ty (khối kinh doanh trực thuộc) về dự án, kỹ năng sale.
						li Hoàn thành mục tiêu doanh số trong tháng, quý năm
						li Công tác phối hợp với các bộ phận khác để hoàn thành công việc kinh doanh, hiệu quả kinh doanh chung của Công ty
						li Phối hợp với khối MKT lên kế hoạch tiếp thị, quảng cáo sản phẩm, chi phí MKT và điều phối chi phí MKT
						li Thực hiện chế độ báo cáo cho Công ty cụ thể tuần/tháng hoặc đột xuất theo yêu cầu của Tổng Giám Đốc
						li Đề cao hình ảnh của Công ty, góp phần quảng bá thương hiệu Công ty với các đối tác, sàn liên kết
					h4 Yêu cầu công việc
					ul
						li Nam, tuổi từ 28 tuổi ~ 35 tuổi
						li Phải có trên 05 năm kinh nghiệm làm việc ở lĩnh vực Bất Động Sản (bắt buộc)
						li Có ít nhất 03 năm kinh nghiệm Trưởng phòng kinh doanh, ưu tiên có kinh nghiệm truởng phòng ở công ty bất động sản (bắt buộc)
						li Ưu tiên các ứng viên kinh nghiệm làm ở các sàn giao dịch BĐS, giám đốc sàn 
						li Tốt nghiệp Đại học trở lên chuyên ngành quản trị kinh doanh, bất động sản, kinh tế, marketing, kiến trúc, xây dựng....
						li Am hiểu về thị trường bất động sản, đối thủ cạnh tranh, nghiệp vụ marketing và lập kế hoạch bán hàng
				.btn-wrapper
					a(href="javascript:void(0)").btn-apply Ứng tuyển ngay
					span hoặc
					a(href="#").btn-download 
						span Tải mẫu đơn xin việc
						span (Nộp trực tiếp)
			.col-lg-4.other-job
				h2.main-title Vị trí khác
				.other-job-item
					.info
						h3 
							a(href="#") Trưởng Bộ Phận Tuyển Dụng
						.row
							.job-info
								p Phòng tuyển dụng
							.job-info
								p TP. Hồ Chí Minh
							.job-info
								p Ngày bắt đầu: 15/04/2019
							.job-info
								p Hạn nộp hồ sơ: 30/05/2019
				.other-job-item
					.info
						h3 
							a(href="#") Trưởng Bộ Phận Tuyển Dụng
						.row
							.job-info
								p Phòng tuyển dụng
							.job-info
								p TP. Hồ Chí Minh
							.job-info
								p Ngày bắt đầu: 15/04/2019
							.job-info
								p Hạn nộp hồ sơ: 30/05/2019
				.other-job-item
					.info
						h3 
							a(href="#") Trưởng Bộ Phận Tuyển Dụng
						.row
							.job-info
								p Phòng tuyển dụng
							.job-info
								p TP. Hồ Chí Minh
							.job-info
								p Ngày bắt đầu: 15/04/2019
							.job-info
								p Hạn nộp hồ sơ: 30/05/2019
				.other-job-item
					.info
						h3 
							a(href="#") Trưởng Bộ Phận Tuyển Dụng
						.row
							.job-info
								p Phòng tuyển dụng
							.job-info
								p TP. Hồ Chí Minh
							.job-info
								p Ngày bắt đầu: 15/04/2019
							.job-info
								p Hạn nộp hồ sơ: 30/05/2019
