include ../_global/news

section.news-act-2.pb-60
	.container
		.home-nav-wrapper
			h2.main-title Thông tin hoạt động ban chấp hành
			.home-nav
				.nav-title Chuyên mục
				nav
					a.btn-link(href="/su-kien") 
						span Xem tất cả
						span.mdi.mdi-arrow-right
		.row
			+news2('t-2')
			+news2('t-2')
			+news2('t-2')
			+news2('t-2')
			+news2('t-2')
			+news2('t-2')
			+news2('t-2')
			+news2('t-2')