.about-nav-scroll
	.about-nav-scroll-wrapper
		.container
			ul
				li
					a(href="#about-1") Tổng quan HREC
				li
					a(href="#about-2") Tôn chỉ - Tầm nhìn - Sứ mệnh
				li
					a(href="#about-3") Cơ cấu tổ chức
				li
					a(href="#about-4") Ban Chấp hành - Ban kiểm tra
				li
					a(href="#about-5") Quy chế - Điều lệ
			select
				option(value="#about-1") Tổng quan HREC
				option(value="#about-2") Tôn chỉ - Tầm nhìn - Sứ mệnh
				option(value="#about-3") Cơ cấu tổ chức
				option(value="#about-4") Ban Chấp hành - Ban kiểm tra
				option(value="#about-5") Quy chế - Điều lệ
.about-wrapper#about-1.pt-60
	.container
		.page-title Giới thiệu
section.about-1
	.container
		.content-wrapper(data-bg="./img/about/bg_1.jpg")
			h2.main-title.no-borders Tổng quan HREC
			.row
				.col-lg-8
					.title
						h3 Câu lạc bộ Bất Động Sản TP. HCM (HREC), trực thuộc Hiệp Hội Doanh Nghiệp TP. Hồ Chí Minh (HUBA) chính thức ra mắt vào 30/05/2018. 
				.col-lg-4
					.description
						p HREC là tổ chức tự nguyện của các cá nhân, tổ chức và các chuyên gia hoạt động trong lĩnh vực kinh doanh bất động sản, môi giới bất động sản; hoặc xây dựng, nhà hàng, khách sạn, lĩnh vực khác muốn kinh doanh thêm trong lĩnh vực bất động sản. CLB giúp doanh nghiệp (DN) nâng cao hiểu biết về kinh doanh, môi giới bất động sản, cập nhật kiến thức và hỗ trợ cho các DN thành viên của HUBA.
				.col-12
					.imgbox
						img(src="./img/about/1.png", alt="")