.about-nav-scroll
	.container
		nav
			a(href="#") Tổng quan HREC
			a(href="#") Tôn chỉ - Tầm nhìn - Sứ mệnh
			a(href="#") Cơ cấu tổ chức
			a(href="#") Ban Chấp hành - Ban kiểm tra
			a(href="#") Quy chế - Điều lệ
.about-wrapper
	.container
		.page-title Giới thiệu
section.about-1
	.container
		.content-wrapper(data-bg="./img/about/bg_1.jpg")
			h2.main-title.no-borders Tổng quan HREC
			.row
				.col-lg-8
					.title
						h3 Câu lạc bộ Bất Động Sản TP. HCM (HREC), trực thuộc Hiệp Hội Doanh Nghiệp TP. Hồ Chí Minh (HUBA) chính thức ra mắt vào 30/05/2018. 
				.col-lg-4
					.description
						p HREC là tổ chức tự nguyện của các cá nhân, tổ chức và các chuyên gia hoạt động trong lĩnh vực kinh doanh bất động sản, môi giới bất động sản; hoặc xây dựng, nhà hàng, khách sạn, lĩnh vực khác muốn kinh doanh thêm trong lĩnh vực bất động sản. CLB giúp doanh nghiệp (DN) nâng cao hiểu biết về kinh doanh, môi giới bất động sản, cập nhật kiến thức và hỗ trợ cho các DN thành viên của HUBA.
				.col-12
					.imgbox
						img(src="./img/about/1.png", alt="")