.about-nav-scroll
	height: 40px
	.about-nav-scroll-wrapper
		height: 40px
		background: white
		&.fixed
			z-index: 100
			position: fixed
			top: 60px
			width: 100%
			left: 0
	ul
		background: #f5f5f5
		height: 40px
		font-size: 18px
		display: flex
		justify-content: center
		align-items: center
		@media (max-width: 1199.98px)
			font-size: 14px
		@media (max-width: 1024.98px)
			display: none
		li
			padding: 0 20px
			height: 100%
			a
				display: flex
				align-items: center
				height: 100%
				border-bottom: 1px solid transparent
			+ li
				position: relative
				&:before
					content: ''
					position: absolute
					height: 15px
					width: 1px
					background: #999999
					top: 50%
					left: 0
					transform: translateY(-50%)
			&:hover, &.active
				color: #a66327
				a
					border-bottom: 1px solid #ccb16a
	select
		display: none
		@media (max-width: 1024.98px)
			display: block
			background: white
			border: 1px solid rgba(0,0,0,.1)
			height: 40px
			font-size: 18px
			width: 100%

.about-1
	.content-wrapper
		background-repeat: repeat-y
		background-size: 1240px
		padding-top: 40px
	.title
		padding-left: 50px
		h3
			font-size: 32px
			font-weight: 300
			text-transform: uppercase
		@media (max-width: 1024.98px)
			padding: 0 10px
			margin-bottom: 20px
			h3
				font-size: 27px
		@media (max-width: 767.98px)
			h3
				font-size: 22px
	.description
		padding-right: 50px
		font-size: 16px
		@media (max-width: 1024.98px)
			padding: 0 10px
			font-size: 15px
		@media (max-width: 767.98px)
			font-size: 14px
	.imgbox
		@media (min-width: 1025px)
			margin-top: -80px