
section.about-2.pd-60
	.container
		h2.sub-title.no-borders tôn chỉ - tầm nhìn - sứ mệnh 
		.row
			.col-md-4.col-11
				.item
					.imgbox
						img(src="./img/about/icon_1.png", alt="")
					.content
						h3 Tôn chỉ
						p Hrec mong muốn thiết lập mối quan hệ bền vững với khách hàng và đối tác, dựa trên sự tôn trọng và cùng nhau phát triển.
			.col-md-4.col-11
				.item
					.imgbox
						img(src="./img/about/icon_2.png", alt="")
					.content
						h3 Tầm nhìn
						p Hrec nỗ lực phấn đấu phát triển bền vững, trở thành Câu lạc bộ hàng đầu Việt Nam trong lĩnh vực đầu tư, kinh doanh và quản lý bất động sản. 

			.col-md-4.col-11
				.item
					.imgbox
						img(src="./img/about/icon_3.png", alt="")
					.content
						h3 Sứ mệnh
						p Trở thành một Câu lạc bộ Bất động sản mạnh, bền vững lâu dài duy trì và phát triển thương hiệu giá trị thương hiệu trở nên uy tín, có sức ảnh hưởng.