.about-4.pd-60
	.container
		.about-tab-wrapper
			h2.sub-title.no-borders Ban chấp hành - ban kiểm tra
			.about-tab
				.tab-title Chuyên mục
				nav(tab-for="about-4")
					a.active(href="#tab-1") ban chấp hành
					a(href="#tab-2") ban kiểm tra
				select(select-for="about-4")
					option(value="#tab-1" selected) ban chấp hành
					option(value="#tab-2") ban kiểm tra
		.row
			.col-lg-4(tab-content="about-4")
				.list.show(id="tab-1")
					.staff-item
						.imgbox.thumb
							img(src="./img/about/staff_thumb.jpg", alt="")
						.imgbox.normal
							img(src="./img/about/staff_img.jpg", alt="")
						.description
							h3 Ông nguyễn quốc bảo 1
							h4 Chủ tịch câu lạc bô
							.brief-content
								p Tốt nghiệp Kỹ sư xây dựng và quản lý công nghiệp, Đại học Bách khoa TP HCM.
								p Thạc sĩ Quản trị kinh doanh tại Trường Đại học Khoa học Ứng dụng Northwestern Thụy Sĩ (University of Applied Sciences and Arts Northwestern Switzerland School of Business)
								p Với hơn 22 năm kinh nghiệm trong lĩnh vực xây dựng và quản lý dự án, đã từng nắm giữ các chức vụ cấp cao tại các công ty xây dựng, tư vấn thiết kế và quản lý dự án đa quốc gia như Công ty Meinhardt Việt Nam và Công ty HBP.
					.staff-item
						.imgbox.thumb
							img(src="./img/about/staff_thumb.jpg", alt="")
						.imgbox.normal
							img(src="./img/about/staff_img.jpg", alt="")
						.description
							h3 Ông nguyễn quốc bảo 2
							h4 Chủ tịch câu lạc bô
							.brief-content
								p Tốt nghiệp Kỹ sư xây dựng và quản lý công nghiệp, Đại học Bách khoa TP HCM.
								p Thạc sĩ Quản trị kinh doanh tại Trường Đại học Khoa học Ứng dụng Northwestern Thụy Sĩ (University of Applied Sciences and Arts Northwestern Switzerland School of Business)
								p Với hơn 22 năm kinh nghiệm trong lĩnh vực xây dựng và quản lý dự án, đã từng nắm giữ các chức vụ cấp cao tại các công ty xây dựng, tư vấn thiết kế và quản lý dự án đa quốc gia như Công ty Meinhardt Việt Nam và Công ty HBP.
					.staff-item
						.imgbox.thumb
							img(src="./img/about/staff_thumb.jpg", alt="")
						.imgbox.normal
							img(src="./img/about/staff_img.jpg", alt="")
						.description
							h3 Ông nguyễn quốc bảo 3
							h4 Chủ tịch câu lạc bô
							.brief-content
								p Tốt nghiệp Kỹ sư xây dựng và quản lý công nghiệp, Đại học Bách khoa TP HCM.
								p Thạc sĩ Quản trị kinh doanh tại Trường Đại học Khoa học Ứng dụng Northwestern Thụy Sĩ (University of Applied Sciences and Arts Northwestern Switzerland School of Business)
								p Với hơn 22 năm kinh nghiệm trong lĩnh vực xây dựng và quản lý dự án, đã từng nắm giữ các chức vụ cấp cao tại các công ty xây dựng, tư vấn thiết kế và quản lý dự án đa quốc gia như Công ty Meinhardt Việt Nam và Công ty HBP.
					.staff-item
						.imgbox.thumb
							img(src="./img/about/staff_thumb.jpg", alt="")
						.imgbox.normal
							img(src="./img/about/staff_img.jpg", alt="")
						.description
							h3 Ông nguyễn quốc bảo 4
							h4 Chủ tịch câu lạc bô
							.brief-content
								p Tốt nghiệp Kỹ sư xây dựng và quản lý công nghiệp, Đại học Bách khoa TP HCM.
								p Thạc sĩ Quản trị kinh doanh tại Trường Đại học Khoa học Ứng dụng Northwestern Thụy Sĩ (University of Applied Sciences and Arts Northwestern Switzerland School of Business)
								p Với hơn 22 năm kinh nghiệm trong lĩnh vực xây dựng và quản lý dự án, đã từng nắm giữ các chức vụ cấp cao tại các công ty xây dựng, tư vấn thiết kế và quản lý dự án đa quốc gia như Công ty Meinhardt Việt Nam và Công ty HBP.
					.staff-item
						.imgbox.thumb
							img(src="./img/about/staff_thumb.jpg", alt="")
						.imgbox.normal
							img(src="./img/about/staff_img.jpg", alt="")
						.description
							h3 Ông nguyễn quốc bảo 5
							h4 Chủ tịch câu lạc bô
							.brief-content
								p Tốt nghiệp Kỹ sư xây dựng và quản lý công nghiệp, Đại học Bách khoa TP HCM.
								p Thạc sĩ Quản trị kinh doanh tại Trường Đại học Khoa học Ứng dụng Northwestern Thụy Sĩ (University of Applied Sciences and Arts Northwestern Switzerland School of Business)
								p Với hơn 22 năm kinh nghiệm trong lĩnh vực xây dựng và quản lý dự án, đã từng nắm giữ các chức vụ cấp cao tại các công ty xây dựng, tư vấn thiết kế và quản lý dự án đa quốc gia như Công ty Meinhardt Việt Nam và Công ty HBP.
				.list(id="tab-2")
					.staff-item
						.imgbox.thumb
							img(src="./img/about/staff_thumb.jpg", alt="")
						.imgbox.normal
							img(src="./img/about/staff_img.jpg", alt="")
						.description
							h3 Ông nguyễn quốc bảo 1
							h4 Chủ tịch câu lạc bô
							.brief-content
								p Tốt nghiệp Kỹ sư xây dựng và quản lý công nghiệp, Đại học Bách khoa TP HCM.
								p Thạc sĩ Quản trị kinh doanh tại Trường Đại học Khoa học Ứng dụng Northwestern Thụy Sĩ (University of Applied Sciences and Arts Northwestern Switzerland School of Business)
								p Với hơn 22 năm kinh nghiệm trong lĩnh vực xây dựng và quản lý dự án, đã từng nắm giữ các chức vụ cấp cao tại các công ty xây dựng, tư vấn thiết kế và quản lý dự án đa quốc gia như Công ty Meinhardt Việt Nam và Công ty HBP.
					.staff-item
						.imgbox.thumb
							img(src="./img/about/staff_thumb.jpg", alt="")
						.imgbox.normal
							img(src="./img/about/staff_img.jpg", alt="")
						.description
							h3 Ông nguyễn quốc bảo 2
							h4 Chủ tịch câu lạc bô
							.brief-content
								p Tốt nghiệp Kỹ sư xây dựng và quản lý công nghiệp, Đại học Bách khoa TP HCM.
								p Thạc sĩ Quản trị kinh doanh tại Trường Đại học Khoa học Ứng dụng Northwestern Thụy Sĩ (University of Applied Sciences and Arts Northwestern Switzerland School of Business)
								p Với hơn 22 năm kinh nghiệm trong lĩnh vực xây dựng và quản lý dự án, đã từng nắm giữ các chức vụ cấp cao tại các công ty xây dựng, tư vấn thiết kế và quản lý dự án đa quốc gia như Công ty Meinhardt Việt Nam và Công ty HBP.
					.staff-item
						.imgbox.thumb
							img(src="./img/about/staff_thumb.jpg", alt="")
						.imgbox.normal
							img(src="./img/about/staff_img.jpg", alt="")
						.description
							h3 Ông nguyễn quốc bảo 3
							h4 Chủ tịch câu lạc bô
							.brief-content
								p Tốt nghiệp Kỹ sư xây dựng và quản lý công nghiệp, Đại học Bách khoa TP HCM.
								p Thạc sĩ Quản trị kinh doanh tại Trường Đại học Khoa học Ứng dụng Northwestern Thụy Sĩ (University of Applied Sciences and Arts Northwestern Switzerland School of Business)

			.col-lg-8
				#staff-item.staff-item
					.imgbox.thumb
						img(src="./img/about/staff_thumb.jpg", alt="")
					.imgbox.normal
						img(src="./img/about/staff_img.jpg", alt="")
					.description
						h3 Ông nguyễn quốc bảo 1
						h4 Chủ tịch câu lạc bô
						.brief-content
							p Tốt nghiệp Kỹ sư xây dựng và quản lý công nghiệp, Đại học Bách khoa TP HCM.
							p Thạc sĩ Quản trị kinh doanh tại Trường Đại học Khoa học Ứng dụng Northwestern Thụy Sĩ (University of Applied Sciences and Arts Northwestern Switzerland School of Business)
							p Với hơn 22 năm kinh nghiệm trong lĩnh vực xây dựng và quản lý dự án, đã từng nắm giữ các chức vụ cấp cao tại các công ty xây dựng, tư vấn thiết kế và quản lý dự án đa quốc gia như Công ty Meinhardt Việt Nam và Công ty HBP.