section.about-5#about-5
	.container
		h2.main-title.no-borders Quy chế - Điều lệ
		.row
			.col-lg-6
				.item
					.imgbox
						img(src="./img/about/icon_4.png", alt="")
					.description
						h3 Quy chế
						.brief-content
							p Chương I:
							p CHỨC NĂNG, NHIỆM VỤ, QUYỀN HẠN CỦA CÂU LẠC BỘ
							p Điều 1. Vị trí, chức năng
							p 1. Vị trí: Câu lạc bộ Bất động sản Hà Nội (tên tiếng Anh làHanoi Real Estate Club, sau đây gọi tắt là Câu lạc bộ)là tổ chức tự nguyện của những doanh nghiệp, tổ chức, cá nhân quan tâm và tâm huyết với nghề đầu tư, kinh doanh dịch vụ Bất động sản trên địa bàn thủ đô Hà nội và các địa phương khác (nếu có). Câu lạc bộ là tổ chức trực thuộc Hiệp hội Bất động sản Việt Nam (sau đây gọi tắt là Hiệp hội); được Hiệp hội ủy quyền mở tài khoản tại các Ngân hàng; được sử dụng logo và con dấu của Hiệp hội để đảm bảo các hoạt động của Câu lạc bộ. Việc sử dụng logo và con dấu của Câu lạc bộ sẽ được quy định tại Điều 7 bản Quy chế này.
							p 2. Chức năng: Câu lạc bộ được tổ chức và hoạt động theo nguyên tắc tự nguyện, quy định tại Điều lệ của Hiệp hội, tuân thủ Hiến pháp, pháp luật của nước Cộng hoà xã hội chủ nghĩa Việt Nam.
							p Điều 2. Nhiệm vụ và quyền hạn
							p 1. Nhiệm vụ
							p -Đoàn kết, giúp đỡ Hội viên của Câu lạc bộ phát huy mọi khả năng, tiềm lực nhằm ổn định, phát triển hoạt động sản xuất kinh doanh, không ngừng nâng cao năng suất, chất lượng và hiệu quả kinh tế;
							p -Được Hiệp hội uỷ quyền đảm nhiệm vai trò cầu nối của các doanh nghiệp hoạt động tronglĩnh vực Bất động sản tại Hà nội và các địa phương khác (nếu có). trong quan hệ với các tổ chức nhà nước, kinh tế, khoa học công nghệ, các câu lạc bộ, hiệp hội khác theo quy định của pháp luật;
							p -Thường xuyên cung cấp cho Hội viên của Câu lạc bộ các thông tin về kinh tế, dự báo thị trường, các dự án đầu tư phát triển, các tiến bộ khoa học kỹ thuật và công nghệ có liên quan đến ngành nghề; giúp Hội viên mở rộng kiến thức, nghiên cứu và ứng dụng vào sản xuất kinh doanh;
							p -Tổ chức các hội nghị, hội thảo để trao đổi kinh nghiệm đầu tư, quản lý, khai thác, kinh doanh, dịch vụ; thực hiện sự hợp tác, liên kết giữa các doanh nghiệp đầu tư, quản lý khai thác sử dụng và kinh doanh trong lĩnh vực bất động sản là Hội viên của Câu lạc bộ nhằm bổ khuyết cho nhau những mặt yếu kém để cùng tồn tại và phát triển;
							p -Khuyến khích, hướng dẫn Hội viên thực hiện chính sách xã hội và tham gia các phong trào do Nhà nước, Hiệp hội phát động;
							p -Thông qua Hiệp hội, giúp Hội viên của Câu lạc bộ quảng cáo và tuyên truyền, giới thiệu về hoạt động sản xuất, kinh doanh, dịch vụ của họ ở trong và ngoài nước. Đồng thời giúp các doanh nghiệp, các hiệp hội ngành nghề khác thiết lập và phát triển quan hệ với bạn hàng là Hội viên của Câu lạc bộ theo quy định của pháp luật;
							p -Nghiêm chỉnh chấp hành Điều lệ; quy chế quản lý tài chính, tài sản; Quy chế kiểm tra, giám sát và chế độ báo cáo của Hiệp hội;
							p -Các nhiệm vụ khác do Hiệp hội giao.
						a.btn-download(download href="#") 
							span Tải về (PDF)
							span.mdi.mdi-download
			.col-lg-6
				.item
					.imgbox
						img(src="./img/about/icon_5.png", alt="")
					.description
						h3 Điều lệ
						.brief-content
							p Chương I:
							p CHỨC NĂNG, NHIỆM VỤ, QUYỀN HẠN CỦA CÂU LẠC BỘ
							p Điều 1. Vị trí, chức năng
							p 1. Vị trí: Câu lạc bộ Bất động sản Hà Nội (tên tiếng Anh làHanoi Real Estate Club, sau đây gọi tắt là Câu lạc bộ)là tổ chức tự nguyện của những doanh nghiệp, tổ chức, cá nhân quan tâm và tâm huyết với nghề đầu tư, kinh doanh dịch vụ Bất động sản trên địa bàn thủ đô Hà nội và các địa phương khác (nếu có). Câu lạc bộ là tổ chức trực thuộc Hiệp hội Bất động sản Việt Nam (sau đây gọi tắt là Hiệp hội); được Hiệp hội ủy quyền mở tài khoản tại các Ngân hàng; được sử dụng logo và con dấu của Hiệp hội để đảm bảo các hoạt động của Câu lạc bộ. Việc sử dụng logo và con dấu của Câu lạc bộ sẽ được quy định tại Điều 7 bản Quy chế này.
							p 2. Chức năng: Câu lạc bộ được tổ chức và hoạt động theo nguyên tắc tự nguyện, quy định tại Điều lệ của Hiệp hội, tuân thủ Hiến pháp, pháp luật của nước Cộng hoà xã hội chủ nghĩa Việt Nam.
							p Điều 2. Nhiệm vụ và quyền hạn
							p 1. Nhiệm vụ
							p -Đoàn kết, giúp đỡ Hội viên của Câu lạc bộ phát huy mọi khả năng, tiềm lực nhằm ổn định, phát triển hoạt động sản xuất kinh doanh, không ngừng nâng cao năng suất, chất lượng và hiệu quả kinh tế;
							p -Được Hiệp hội uỷ quyền đảm nhiệm vai trò cầu nối của các doanh nghiệp hoạt động tronglĩnh vực Bất động sản tại Hà nội và các địa phương khác (nếu có). trong quan hệ với các tổ chức nhà nước, kinh tế, khoa học công nghệ, các câu lạc bộ, hiệp hội khác theo quy định của pháp luật;
							p -Thường xuyên cung cấp cho Hội viên của Câu lạc bộ các thông tin về kinh tế, dự báo thị trường, các dự án đầu tư phát triển, các tiến bộ khoa học kỹ thuật và công nghệ có liên quan đến ngành nghề; giúp Hội viên mở rộng kiến thức, nghiên cứu và ứng dụng vào sản xuất kinh doanh;
							p -Tổ chức các hội nghị, hội thảo để trao đổi kinh nghiệm đầu tư, quản lý, khai thác, kinh doanh, dịch vụ; thực hiện sự hợp tác, liên kết giữa các doanh nghiệp đầu tư, quản lý khai thác sử dụng và kinh doanh trong lĩnh vực bất động sản là Hội viên của Câu lạc bộ nhằm bổ khuyết cho nhau những mặt yếu kém để cùng tồn tại và phát triển;
							p -Khuyến khích, hướng dẫn Hội viên thực hiện chính sách xã hội và tham gia các phong trào do Nhà nước, Hiệp hội phát động;
							p -Thông qua Hiệp hội, giúp Hội viên của Câu lạc bộ quảng cáo và tuyên truyền, giới thiệu về hoạt động sản xuất, kinh doanh, dịch vụ của họ ở trong và ngoài nước. Đồng thời giúp các doanh nghiệp, các hiệp hội ngành nghề khác thiết lập và phát triển quan hệ với bạn hàng là Hội viên của Câu lạc bộ theo quy định của pháp luật;
							p -Nghiêm chỉnh chấp hành Điều lệ; quy chế quản lý tài chính, tài sản; Quy chế kiểm tra, giám sát và chế độ báo cáo của Hiệp hội;
							p -Các nhiệm vụ khác do Hiệp hội giao.
						a.btn-download(download href="#") 
							span Tải về (PDF)
							span.mdi.mdi-download