extends _layout.pug

block var
	- var title = 'About'
	- var bodyClass = 'about-page'

block main
	include ../components/banner/b-1
	include ../components/about/a-1
	include ../components/about/a-2
	include ../components/about/a-3
	include ../components/about/a-4
	include ../components/about/a-5