footer
	.container.pb-60
		hr.pt-60
		.row
			.col-lg-4.info
				h2 Câu lạc bộ Bất động sản TP. HCM (HREC)
				.social-list
					a(href="#")
						img(src="./img/facebook.png", alt="")
					a(href="#")
						img(src="./img/twitter.png", alt="")
					a(href="#")
						img(src="./img/youtube.png", alt="")
			.col-lg-4.col-md-6.address
				p Lầu 2, 199 Phan Đình Phùng, P.17, Q. Phú Nhuận, TP. HCM
				p ĐT: (08) 1234 5678 - Fax: (08) 2345 6789 - Hotline: 123 456 789
				p Email: 
					a(href="mailto:chamsockhachhang@hrec.vn") chamsockhachhang@hrec.vn
			.col-lg-4.col-md-6.footer-nav
				ul
					li
						a(href="#") Tổng quan HREC
					li
						a(href="#") Cơ cấu tổ chức
					li
						a(href="#") Tôn chỉ - Tầm nhìn - Sứ mệnh
					li
						a(href="#") Ban chấp hành - Ban kiểm tra
					li
						a(href="#") Quy chế - Điều lệ
	.container.bottom-footer
		.row.no-gutters
			.copyright.col-lg-auto
				p © 2019 HREC. Tất cả các quyền được bảo hộ. Thiết kế bởi Cánh Cam
			.bottom-footer-nav.col-lg-auto
				nav
					a(href="/sitemap.aspx") Sơ đồ trang web
					a(href="#") Chính sách bảo mật
					a(href="#") Điều khoản sử dụng