.member-1.pd-60
	.container
		.news-tab-wrapper.member
			.news-tab
				.tab-title Chuyên mục
				nav
					a.active(href="#") Thông tin hội viên
					a(href="#") Qui chế hội viên
					a(href="#") Đăng ký hội viên
					a(href="#") Dự án hội viên
				select
					option(value="#" selected) Thông tin hội viên
					option(value="#") Qui chế hội viên
					option(value="#") Đăng ký hội viên
					option(value="#") Dự án hội viên
			h2.page-title Thông tin hội viên
	.container
		.row
			.col-12
				.swiper-container.big-member
					.swiper-nav
						.swiper-next
							img(src="./img/slider-next-3.png", alt="")
					.swiper-pagination

					.swiper-wrapper
						.swiper-slide
							.imgbox
								img(src="./img/member/2.jpg", alt="")
							.content
								.img-top
									.logo
										img(src="./img/logo.png", alt="")
									.partner
										img(src="./img/logo.png", alt="")
								.title
									h4 công ty tnhh bb smart furniture
								.info
									.img
										img(src="./img/member/1.jpg", alt="")
									.description
										p
											strong Đại diện: 
											span Bà nguyễn gia bảo
										p
											strong Chức vụ: 
											span Tổng giám đốc
										hr
										.attributes
											.contact-info
												span.mdi.mdi-map-marker
												p
													strong Chức vụ: 
													span Tổng giám đốc
											.contact-info
												span.mdi.mdi-phone-in-talk
												p
													strong Chức vụ: 
													span Tổng giám đốc
											.contact-info
												span.mdi.mdi-email
												p
													strong Chức vụ: 
													span Tổng giám đốc
											.contact-info
												span.mdi.mdi-web
												p
													strong Chức vụ: 
													a(href="#") asd asda dasd as
										.btn-wrapper
											a(href="") 
												span Xem thêm
												span.mdi.mdi-arrow-right
						.swiper-slide
							.imgbox
								img(src="./img/member/2.jpg", alt="")
							.content
								.img-top
									.logo
										img(src="./img/logo.png", alt="")
									.partner
										img(src="./img/logo.png", alt="")
								.title
									h4 công ty tnhh bb smart furniture
								.info
									.img
										img(src="./img/member/1.jpg", alt="")
									.description
										p
											strong Đại diện: 
											span Bà nguyễn gia bảo
										p
											strong Chức vụ: 
											span Tổng giám đốc
										hr
										.attributes
											.contact-info
												span.mdi.mdi-map-marker
												p
													strong Chức vụ: 
													span Tổng giám đốc
											.contact-info
												span.mdi.mdi-phone-in-talk
												p
													strong Chức vụ: 
													span Tổng giám đốc
											.contact-info
												span.mdi.mdi-email
												p
													strong Chức vụ: 
													span Tổng giám đốc
											.contact-info
												span.mdi.mdi-web
												p
													strong Chức vụ: 
													a(href="#") asd asda dasd as
										.btn-wrapper
											a(href="") 
												span Xem thêm
												span.mdi.mdi-arrow-right
						.swiper-slide
							.imgbox
								img(src="./img/member/2.jpg", alt="")
							.content
								.img-top
									.logo
										img(src="./img/logo.png", alt="")
									.partner
										img(src="./img/logo.png", alt="")
								.title
									h4 công ty tnhh bb smart furniture
								.info
									.img
										img(src="./img/member/1.jpg", alt="")
									.description
										p
											strong Đại diện: 
											span Bà nguyễn gia bảo
										p
											strong Chức vụ: 
											span Tổng giám đốc
										hr
										.attributes
											.contact-info
												span.mdi.mdi-map-marker
												p
													strong Chức vụ: 
													span Tổng giám đốc
											.contact-info
												span.mdi.mdi-phone-in-talk
												p
													strong Chức vụ: 
													span Tổng giám đốc
											.contact-info
												span.mdi.mdi-email
												p
													strong Chức vụ: 
													span Tổng giám đốc
											.contact-info
												span.mdi.mdi-web
												p
													strong Chức vụ: 
													a(href="#") asd asda dasd as
										.btn-wrapper
											a(href="") 
												span Xem thêm
												span.mdi.mdi-arrow-right
		.row
			.col-sm-6.col-lg-3
				.member-item
					.imgbox
						a(href="#" data-fancybox="member_1" data-src="#member_1")
							img(src="./img/member/m_1.png", alt="")
					.info
						h3
							a(href="#") Công ty TNHH Camia
						p <strong>Đại diện:</strong> Ông Nguyễn Hoàng Tùng
				.d-none
					#member_1.member-popup
						.content
							.logo
								img(src="./img/logo.png", alt="")
								img(src="./img/member/m_1.png", alt="")
							.title
								h4 
									a(href="#") công ty tnhh bb smart furniture 
							.row
								.col-lg-6
									.info
										.img
											img(src="./img/member/1.jpg", alt="")
										.description
											p
												strong Đại diện: 
												span Bà nguyễn gia bảo
											p
												strong Chức vụ: 
												span Tổng giám đốc
											hr
											.attributes
												.contact-info
													span.mdi.mdi-map-marker
													p
														strong Chức vụ: 
														span Tổng giám đốc
												.contact-info
													span.mdi.mdi-phone-in-talk
													p
														strong Chức vụ: 
														span Tổng giám đốc
												.contact-info
													span.mdi.mdi-email
													p
														strong Chức vụ: 
														span Tổng giám đốc
												.contact-info
													span.mdi.mdi-web
													p
														strong Chức vụ: 
														a(href="#") asd asda dasd as
								.col-lg-6
									.full-content
										p <strong>Lĩnh vực kinh doanh:</strong> Bán buôn vật liệu, thiết bị lắp đặt 
										p <strong>Ngành nghề bổ sung:</strong> Không khác trong xây dựng.
										p <strong>Sản phẩm cụ thể:</strong> các hệ tủ (tủ bếp, tủ quần áo,...)
										p <strong>Thế mạnh:</strong> Sản xuất may đo số lượng lớn, chất lượng tiêu chuẩn châu Âu, nằm trong chuỗi cung ứng toàn cầu
			.col-sm-6.col-lg-3
				.member-item
					.imgbox
						a(href="#")
							img(src="./img/member/m_1.png", alt="")
					.info
						h3
							a(href="#") Công ty TNHH Camia
						p <strong>Đại diện:</strong> Ông Nguyễn Hoàng Tùng
			.col-sm-6.col-lg-3
				.member-item
					.imgbox
						a(href="#")
							img(src="./img/member/m_1.png", alt="")
					.info
						h3
							a(href="#") Công ty TNHH Camia
						p <strong>Đại diện:</strong> Ông Nguyễn Hoàng Tùng
			.col-sm-6.col-lg-3
				.member-item
					.imgbox
						a(href="#")
							img(src="./img/member/m_1.png", alt="")
					.info
						h3
							a(href="#") Công ty TNHH Camia
						p <strong>Đại diện:</strong> Ông Nguyễn Hoàng Tùng
			.col-sm-6.col-lg-3
				.member-item
					.imgbox
						a(href="#")
							img(src="./img/member/m_1.png", alt="")
					.info
						h3
							a(href="#") Công ty TNHH Camia
						p <strong>Đại diện:</strong> Ông Nguyễn Hoàng Tùng
			.col-sm-6.col-lg-3
				.member-item
					.imgbox
						a(href="#")
							img(src="./img/member/m_1.png", alt="")
					.info
						h3
							a(href="#") Công ty TNHH Camia
						p <strong>Đại diện:</strong> Ông Nguyễn Hoàng Tùng
			.col-sm-6.col-lg-3
				.member-item
					.imgbox
						a(href="#")
							img(src="./img/member/m_1.png", alt="")
					.info
						h3
							a(href="#") Công ty TNHH Camia
						p <strong>Đại diện:</strong> Ông Nguyễn Hoàng Tùng
			.col-sm-6.col-lg-3
				.member-item
					.imgbox
						a(href="#")
							img(src="./img/member/m_1.png", alt="")
					.info
						h3
							a(href="#") Công ty TNHH Camia
						p <strong>Đại diện:</strong> Ông Nguyễn Hoàng Tùng