.member-4.pd-60
	.container
		.news-tab-wrapper.member
			.news-tab
				.tab-title Chuyên mục
				nav
					a.active(href="#") Thông tin hội viên
					a(href="#") Qui chế hội viên
					a(href="#") Đăng ký hội viên
					a(href="#") Dự án hội viên
				select
					option(value="#" selected) Thông tin hội viên
					option(value="#") Qui chế hội viên
					option(value="#") Đăng ký hội viên
					option(value="#") Dự án hội viên
			h2.page-title Dự án hội viên
	.container
		.row
			.col-sm-6.col-md-4
				article.project-item
					.imgbox
						a(href="#" data-bg="./img/project/1.jpg")
					.info
						h3
							a(href="#") Dự án The Grand Manhattan 
			.col-sm-6.col-md-4
				article.project-item
					.imgbox
						a(href="#" data-bg="./img/project/1.jpg")
					.info
						h3
							a(href="#") Dự án The Grand Manhattan 
			.col-sm-6.col-md-4
				article.project-item
					.imgbox
						a(href="#" data-bg="./img/project/1.jpg")
					.info
						h3
							a(href="#") Dự án The Grand Manhattan 
			.col-sm-6.col-md-4
				article.project-item
					.imgbox
						a(href="#" data-bg="./img/project/1.jpg")
					.info
						h3
							a(href="#") Dự án The Grand Manhattan 
			.col-sm-6.col-md-4
				article.project-item
					.imgbox
						a(href="#" data-bg="./img/project/1.jpg")
					.info
						h3
							a(href="#") Dự án The Grand Manhattan 
			.col-sm-6.col-md-4
				article.project-item
					.imgbox
						a(href="#" data-bg="./img/project/1.jpg")
					.info
						h3
							a(href="#") Dự án The Grand Manhattan 