.project-detail
	.container
		.row.no-gutters
			.col-lg-8
				.imgbox
					img(src="./img/", alt="")
			.col-lg-4
				.textbox
					h1 Dự án Victory Village
					.table-responsive
						table
							tr
								td
									span.mdi.mdi-account-outline
									| Chủ đầu tư
								td Tập đoàn Novaland
							tr
								td
									span.mdi.mdi-account-multiple-outline
									| Hội viên
								td Tập đoàn Novaland
							tr
								td
									span.mdi.mdi-map-marker-outline
									| Vị trí 
								td Thạnh Mỹ Lợi, Q.2, TP.HCM
							tr
								td
									span.mdi.mdi-office-building
									| Loại hình sản phẩm
								td Khu căn hộ cao cấp
							tr
								td
									span.mdi.mdi-crop
									| Diện tích
								td 52m2 – 95m2
							tr
								td
									span.mdi
									| Qui mô dự án
								td Mật độ xây dựng thấp, chỉ có 92 sản phẩm, khu nhà phố - biệt thự của Victoria Village mang phong cách kiến trúc tân cổ điển thời Victoria ấn tượng, tạo nên đẳng cấp riêng có cho chủ nhân sở hữu.

	.container
		h3.full-content-title Chi tiết dự án
		.full-content
			p Khu dân cư phức hợp cao cấp Victoria Village được quy hoạch theo hướng đồng bộ và hoàn chỉnh bao gồm khu căn hộ - thương mại dịch vụ và khu nhà phố - biệt thự. Trong đó:
			p Khu cao tầng gồm 04 tòa tháp cao 25 tầng, 01 tầng hầm, với 1,044 căn hộ, (từ 01 phòng ngủ tới 03 phòng ngủ), diện tích linh hoạt từ 52m2 – 95m2 được thiết kế theo phong cách Châu Âu. Các khối tháp sắp đặt theo hình chữ U, các mặt đứng chính hướng theo hai trục Đông Nam – Tây Nam và Tây Nam – Tây Bắc, nhờ đó tránh được ánh nắng chiếu trực diện vào mỗi căn hộ. 	
			p Với mật độ xây dựng thấp, chỉ có 92 sản phẩm, khu nhà phố - biệt thự của Victoria Village mang phong cách kiến trúc tân cổ điển thời Victoria ấn tượng, tạo nên đẳng cấp riêng có cho chủ nhân sở hữu.
			p Được phát triển bởi Tập đoàn Novaland, Victoria Village thừa hưởng trọn vẹn giá trị của khu Đông TP.HCM cộng hưởng ưu thế kết nối với quần thể tiện ích lân cận, dự án sẽ là khu dân cư văn minh, sầm uất và là tài sản BĐS có giá trị gia tăng bền vững.
		hr
	.container
		h2.page-title Dự án khác
		.swiper-container
			.swiper-nav
				.swiper-prev
					img(src="./img/slider-prev-3.png", alt="")
				.swiper-next
					img(src="./img/slider-next-3.png", alt="")
			.swiper-wrapper
				.swiper-slide
					article.project-item
						.imgbox
							a(href="#" data-bg="./img/project/1.jpg")
						.info
							h3
								a(href="#") Dự án The Grand Manhattan
				.swiper-slide
					article.project-item
						.imgbox
							a(href="#" data-bg="./img/project/1.jpg")
						.info
							h3
								a(href="#") Dự án The Grand Manhattan
				.swiper-slide
					article.project-item
						.imgbox
							a(href="#" data-bg="./img/project/1.jpg")
						.info
							h3
								a(href="#") Dự án The Grand Manhattan
				.swiper-slide
					article.project-item
						.imgbox
							a(href="#" data-bg="./img/project/1.jpg")
						.info
							h3
								a(href="#") Dự án The Grand Manhattan