section.home-banner
	.container
		.row.no-gutters
			.col-lg-9.banner-left
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.imgbox(data-bg="./img/index/1.jpg")
								a(href="#")
									img.swiper-lazy(src="./img/index/1.jpg", alt="")
							.content
								h2
									a(href="#") Mừng sinh nhật hội viên tháng 3 CLB Bất động sản TP. HCM
								a.btn-view(href="#")
									img(src="./img/slider_arrow_2.png", alt="")
						.swiper-slide
							.imgbox(data-bg="./img/index/1.jpg")
								a(href="#")
									img.swiper-lazy(src="./img/index/1.jpg", alt="")
							.content
								h2
									a(href="#") Mừng sinh nhật hội viên tháng 3 CLB Bất động sản TP. HCM
								a.btn-view(href="#")
									img(src="./img/slider_arrow_2.png", alt="")
						.swiper-slide
							.imgbox(data-bg="./img/index/1.jpg")
								a(href="#")
									img.swiper-lazy(src="./img/index/1.jpg", alt="")
							.content
								h2
									a(href="#") Mừng sinh nhật hội viên tháng 3 CLB Bất động sản TP. HCM
								a.btn-view(href="#")
									img(src="./img/slider_arrow_2.png", alt="")
			.col-lg-3.banner-right
				h2.sub-title Dự án hội viên
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.imgbox(data-bg="./img/index/2.jpg")
								a(href="#")
									img.swiper-lazy(src="./img/index/2.jpg", alt="")
							.content
								h2
									a(href="#") Mừng sinh nhật hội viên tháng 3 CLB Bất động sản TP. HCM
								a.btn-view(href="#")
									img(src="./img/slider_arrow_2.png", alt="")
						.swiper-slide
							.imgbox(data-bg="./img/index/2.jpg")
								a(href="#")
									img.swiper-lazy(src="./img/index/2.jpg", alt="")
							.content
								h2
									a(href="#") Mừng sinh nhật hội viên tháng 3 CLB Bất động sản TP. HCM
								a.btn-view(href="#")
									img(src="./img/slider_arrow_2.png", alt="")
						.swiper-slide
							.imgbox(data-bg="./img/index/2.jpg")
								a(href="#")
									img.swiper-lazy(src="./img/index/2.jpg", alt="")
							.content
								h2
									a(href="#") Mừng sinh nhật hội viên tháng 3 CLB Bất động sản TP. HCM
								a.btn-view(href="#")
									img(src="./img/slider_arrow_2.png", alt="")