.home-2
	.container
		.content-wrapper(data-bg="./img/index/bg_1.jpg")
			h2.main-title Giới thiệu HREC
			.row.no-gutters
				.col-lg-8
					.title
						h3 Câu lạc bộ Bất Động Sản TP. HCM (HREC), trực thuộc Hiệp Hội Doanh Nghiệp TP. Hồ Chí Minh (HUBA) chính thức ra mắt vào 30/05/2018. 
						a.btn-link(href="#") 
							span Về chúng tôi
							span.mdi.mdi-arrow-right
				.col-lg-4
					.description
						p HREC là tổ chức tự nguyện của các cá nhân, tổ chức và các chuyên gia hoạt động trong lĩnh vực kinh doanh bất động sản, môi giới bất động sản; hoặc xây dựng, nhà hàng, khách sạn, lĩnh vực khác muốn kinh doanh thêm trong lĩnh vực bất động sản. CLB giúp doanh nghiệp (DN) nâng cao hiểu biết về kinh doanh, môi giới bất động sản, cập nhật kiến thức và hỗ trợ cho các DN thành viên của HUBA.
