include ../_global/news


.home-3.pt-60
	.container
		.home-nav-wrapper
			h2.main-title sự kiện
			.home-nav
				.nav-title Chuyên mục
				nav
					a.btn-link(href="/su-kien") 
						span Xem tất cả
						span.mdi.mdi-arrow-right
		.news-list.clearfix
			+news1('big')
			+news1('side')
			+news1('side')