include ../_global/news


.home-5.pt-60
	.container
		.home-nav-wrapper
			h2.main-title Hoạt động cộng đồng
			.home-nav
				.nav-title Chuyên mục
				nav
					a(href="#") Hoạt động từ thiện
					a(href="#") Hoạt động thể thao
					a(href="#") Tài trợ
				select
					option(value="#") Hoạt động từ thiện
					option(value="#") Hoạt động thể thao
					option(value="#") Tài trợ
		.news-list.clearfix
			+news3('big')
			+news3
			+news3
			+news3