include ../_global/news


.home-6.pt-60
	.container
		.banner-item(data-bg="./img/index/5.jpg")
			.imgbox
				img.lazyload(data-src="./img/index/5.jpg")
			.content
				h3 Chương trình tài trợ dự án
				p HREC thấu hiểu sự thành công không đến từ chiếc đữa thần; toàn thể đội ngũ phải không ngừng học hỏi để hoàn thiện chính mình.