include ../_global/gallery

.home-8.pt-60
	.container
		h2.sub-title Hội viên
		.slider-wrapper
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						a(href="#")
							img.swiper-lazy(data-src="./img/partners/1.png")
							.swiper-lazy-preloader
					.swiper-slide
						a(href="#")
							img.swiper-lazy(data-src="./img/partners/1.png")
							.swiper-lazy-preloader
					.swiper-slide
						a(href="#")
							img.swiper-lazy(data-src="./img/partners/1.png")
							.swiper-lazy-preloader
					.swiper-slide
						a(href="#")
							img.swiper-lazy(data-src="./img/partners/1.png")
							.swiper-lazy-preloader
					.swiper-slide
						a(href="#")
							img.swiper-lazy(data-src="./img/partners/1.png")
							.swiper-lazy-preloader
					.swiper-slide
						a(href="#")
							img.swiper-lazy(data-src="./img/partners/1.png")
							.swiper-lazy-preloader
					.swiper-slide
						a(href="#")
							img.swiper-lazy(data-src="./img/partners/1.png")
							.swiper-lazy-preloader
			.swiper-nav
				.swiper-prev
					img(src="./img/slider-prev-2.png", alt="")
				.swiper-next
					img(src="./img/slider-next-2.png", alt="")